 /* Made by: Uday Prakash Gupta */
 /* github: @sysreset999 */
 /* website:- https://udayprakashgupta.me */


@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(bg.png) no-repeat;

    background-size: cover;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
haha {
    color: #ffffff;
    font-size: 75px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

h3{
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#qt-gen {
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 0px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    transition: 300ms;
}

#qt-gen:hover {
    background-color: #cbcbcb;
    cursor: pointer;
}

#qt-area{
    color: #ffffff;
    /* centre this */
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 35px;
}

lol{
    color: rgb(220, 85, 85);
}

credits{
    color: #ffffff;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
credits a{
    text-decoration: none;
    color: #ff4599;
    transition: 350ms;
}
credits a:hover{
    color: rgb(109, 223, 255);
}

/* now make the whole code resonsive for mobiles and tablets */
@media only screen and (max-width: 600px) {
    haha{
        font-size: 60px;
    }
    h3{
        font-size: 20px;
    }
    #qt-gen{
        font-size: 15px;
    }
    #qt-area{
        font-size: 15px;
    }
    credits{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1642px) {
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(bg.png) no-repeat;
        background-size: cover;
        height: 100vh;
    }
}